<div class="page-header">
	<h1>{{ header }}</h1>
</div>
<div class="row-fluid">
	<ul class="thumbnails span4">
		<li class="span12">
			<div class="thumbnail well">
				<img class="img-polaroid" src="{{ snapshot }}">
				<div class="caption">
					<p class="text-center">
						<button type="button" class="btn btn-large btn-info" ng-click="redo()"><i
								class="icon-repeat icon-white"></i> Take again</button>
						<button type="button" class="btn btn-large btn-primary" ng-click="continue()"><i
								class="icon-arrow-right icon-white"></i> Continue</button>
					</p>
				</div>
			</div>
		</li>
	</ul>
	<div class="span3">
		<p class="lead">If the picture looks acceptable, continue.</p>
	</div>
</div>