
	<h1>Browser not supported</h1>
	<div class="alert alert-error">
	<p>Sorry your browser does not support the features needed for this demo.
	Please use the latest version of Chrome, Firefox or Opera. See <a href="http://www.webrtc.org/">WebRTC initiative</a> information for details</p>
	</div>
		<a href="https://www.google.com/intl/en/chrome/browser/" class="btn btn-primary btn-large">
			Get Chrome
		</a>
		<a href="http://www.mozilla.org/en-US/firefox/new/" class="btn btn-primary btn-large">
			Get Firefox
		</a>
		<a href="http://www.opera.com/" class="btn btn-primary btn-large">
			Get Opera
		</a>
	</p>
